<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Generator</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Генератор паролей</h1>
    <label for="apiKey">API Key:</label>
    <input type="text" id="apiKey" placeholder="Enter your API key">
    <label class="label" for="passwordLength">Количество символов:</label>
    <input class="input" type="number" id="passwordLength" min="6" max="30" value="12">
    <button id="generatepass">Сгенерировать пароль</button>
    <div id="passwordContainer">
        <p id="generatedPassword"></p>
    </div>
    
    <script>
    $(document).ready(function() {
        $("#generatepass").click(function() {
            var apiKey = $("#apiKey").val();
            var passwordLength = $("#passwordLength").val();
            
            $.ajax({
                url: "/api/v1/generate_password",
                method: "GET",
                headers: {
                "Authorization": "Bearer " + apiKey
                },
                data: { length: passwordLength },
                success: function(data) {
                    $("#generatedPassword").text(data.password);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Error:", errorThrown);
                }
            });
        });
    });
</script>
</body>
</html>
